streamlit
langchain
langchain-community
langchain-ollama
langchain-huggingface
faiss-cpu
PyPDF2
tiktoken
python-dotenv
sentence-transformers
transformers==4.35.0
tokenizers==0.14.1
huggingface-hub==0.17.3
numpy
cryptography
docx2txt
unstructured
pillow
openpyxl
lxml
pyyaml